@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: color 0.3s ease, background 0.3s ease;
}

html.light h1, html.light h2 {
  color: #000; /* Light theme text color */
  transition: color 0.3s ease;
}
  
html.dark h1, html.dark h2 {
  color: #fff; /* Dark theme text color */
  transition: color 0.3s ease;
}

/* Add transition to all elements that might change with theme */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes slideIn {
  from { 
    opacity: 0;
    transform: translateY(-20px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in forwards;
}

.animate-blink {
  animation: blink 0.75s infinite;
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out forwards;
}
